a {
  text-decoration: none;
  color: unset;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  font-family: 'Bold';
	font-size: 48px;
  min-width: 350px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.unselected {
  font-family: 'Norm';
  color: white;
	font-size: 48px;
	-webkit-text-stroke: 2px #161616;
  margin: 10px;
  pointer-events: none;
}

.selected {
  color: #161616;
  margin: 10px; 
}

.selected:hover {
  text-decoration: underline;
  transition: text-decoration .5s;
}