.container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 40px;
  width: 220px;
  border-right: 1px solid #111111;
}

.viewWrapper {
  display: flex;
  flex-direction: column;
}

.filterWrapper {
  display: flex;  
  flex-direction: column;
}

.group {
  font-family: 'Bold';
  font-size: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item {
  font-family: 'Norm';
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selected {
  color: #37ab00;
  pointer-events: none;
}

.arrgif {
  width: 40px;
  height: 40px;
}

.minus {
  width: 24px;
  height: 40px;
  position: absolute;
}

svg {
  display: block;
  fill: none;
  stroke-width: var(10px, 10px);
  stroke-linecap: round;
  stroke-linejoin: round;
}