.container {
  display: flex;
  align-self: center;
  width: 100%;
  height: 75%;
  max-width: 1200px;
  border: 2px solid #d5d5d5;
  border-radius: 8px
}

.container:hover {
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.677);
}

.content {
  width: 100%;
}

.underContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hamContainer {
  display: none; 
}

.sideContainer {
  height: 100%;
}

@media screen and (max-width: 1210px) {
  .hamContainer {
    display: flex;
    flex-direction: column;
  }
  
  .sideContainer {
    display: none;
  }
  
  .container {
    width: 95% !important;
  }
  
  .content {
    max-width: none !important;
  }
}