.container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 5px;
  width: 220px;
  border-right: 1px solid #111111;
}

.viewWrapper {
  display: flex;
  flex-direction: column;
}

.filterWrapper {
  display: flex;  
  flex-direction: column;
  gap: 25px;
}

.group {
  font-family: 'Bold';
  font-size: 1rem;
  margin-top: 50px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item {
  font-family: 'Norm';
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.toggled {
  color: #37ab00;
  pointer-events: none;
}

.selected {
  color: #37ab00;
}