.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 150px;
  cursor: url('../assets/pointer.svg'), pointer;
}

.header {
  width: 100%;
  height: 100%;
}

