.container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 5px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #d5d5d5;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.viewWrapper {
  display: flex;
  flex-direction: column;
}

.filterWrapper {
  display: flex;  
  flex-direction: column;
  gap: 25px;
}

.group {
  font-family: 'Bold';
  font-size: 1rem;
  margin-top: 50px;
  user-select: none;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.unselected {
  color: #bcbcbc;
  margin-left: 0;
  transition: margin-left .5s;
}

.item {
  font-family: 'Norm';
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.toggled {
  color: 'black';
  pointer-events: none;
  margin-left: 20px;
  transition: margin-left .5s;
}

.selected {
  color: 'black';
  margin-left: 20px;
  transition: margin-left .5s;
}

