:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bold";
  src: url("./assets/font/Futura-Bold-03.ttf");
}

@font-face {
  font-family: "Norm";
  src: url("./assets/font/Futura-Medium-01.ttf");
}

#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 14px 14px 0px 0px;
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #c3e4f9;  
  --gradient-color-4: #79c9fb;
}
